<div class="h-100">

    <!-- Search Panel or Result Panel -->
    <div *ngIf="enableSearchPanel; then searchPanel; else resultPanel;"></div>

    <!-- Search Panel -->
    <ng-template #searchPanel>
        <div class="position-relative search-panel m-auto">
            <!-- Logo -->
            <app-logo></app-logo>

            <!-- Search Field -->
            <app-search-field></app-search-field>

            <!-- Search Types Tab -->
            <app-search-types-tab variant="pills" alignment="center"></app-search-types-tab>
        </div>
    </ng-template>

    <!-- Result Panel -->
    <ng-template #resultPanel>
        <!-- Search Type Tabs -->
        <div class="w-100 px-4 position-fixed custom-background search-type-tab">
            <app-search-types-tab class="custom-background">
            </app-search-types-tab>
        </div>
        <div class="px-4">
            <div class="row">
                <div class="col-lg-5 pt-5 pb-lg-5 order-lg-2">
                    <app-search-field [enableSetting]="false" [showDarkModeSwitch]="false" [showSetting]="true"></app-search-field>
                    <!-- <app-logo></app-logo> -->
                </div>
                <div class="col-lg-7 pb-5 pt-lg-5 order-lg-1">
                    <!-- <app-search-field></app-search-field> -->
                    <!-- <app-search-field [enableSetting]="false" [showDarkModeSwitch]="false" [showSetting]="true"></app-search-field> -->
                    <app-search-result></app-search-result>
                </div>
            </div>
        </div>
    </ng-template>

    <!-- Floating Button TODO -->
    <div *ngIf="!enableSearchPanel; then searchFloatingButton;"></div>
    <ng-template #searchFloatingButton>
        <app-search-floating-button (triggerClick)="showSearchPanel()"></app-search-floating-button>
    </ng-template>

</div>