<div class="h-100">

    <!-- Search Panel or Result Panel -->
    <div *ngIf="showPageSearch; then searchPanel; else resultPanel;"></div>

    <!-- Search Panel -->
    <ng-template #searchPanel>
        <div class="position-relative search-panel">
            <!-- Logo -->
            <app-logo></app-logo>

            <!-- Search Field -->
            <app-search-field [(searchQuery)]="searchQuery" (triggerSearch)="performSearch()"></app-search-field>

            <!-- Search Types Tab -->
            <app-search-types-tab variant="pills" alignment="center" [(activeTabIndex)]="activeTabIndex"
                (activeTabIndexChange)="onActiveTabIndexChange()"></app-search-types-tab>
        </div>

        <app-dark-mode-switch class="dark-mode-switch"></app-dark-mode-switch>

    </ng-template>

    <!-- Result Panel -->
    <ng-template #resultPanel>

        <div class="container d-flex justify-content-center">
            <div class="allowed-max-width w-100">

                <!-- Search Type Tabs -->
                <app-search-types-tab class="w-100 custom-background position-fixed allowed-max-width search-type-tab"
                    alignment="justify" [(activeTabIndex)]="activeTabIndex"
                    (activeTabIndexChange)="onActiveTabIndexChange()">
                </app-search-types-tab>

                <!-- Search Result Panel -->
                <app-search-result class="result-panel d-block" [searchQuery]="searchQuery"
                    [searchTypeIndex]="activeTabIndex">
                </app-search-result>

            </div>
        </div>

    </ng-template>

    <!-- Floating Button -->
    <div *ngIf="!showPageSearch; then searchFloatingButton;"></div>
    <ng-template #searchFloatingButton>
        <app-search-floating-button (triggerClick)="showSearchPanel()"></app-search-floating-button>
    </ng-template>

</div>