div.search-panel {
    max-width: 720px;
    top: 40%;
    transform: translateY(-50%);
}

.search-type-tab {
    z-index: 100;
}

.result-panel {
    padding-top: 58px;
    padding-bottom: 56px;
}