div.search-panel {
    top: 40%;
    transform: translateY(-50%);
}

.allowed-max-width {
    max-width: 740px;
}

.search-type-tab {
    z-index: 100;
}

.result-panel {
    padding-top: 58px;
    padding-bottom: 56px;
}

.dark-mode-switch {
    position: absolute;
    top: 30px;
    right: 72px;
}