div.search-panel {
    max-width: 720px;
    top: 40%;
    transform: translateY(-50%);
}

.search-type-tab {
    z-index: 100;
}

.result-panel {
    padding-top: 58px;
    padding-bottom: 56px;
}

.colorr {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}