<div class="modal-header border-bottom-0">
    <h4 class="modal-title">Local Settings</h4>
    <button type="button" class="close-button close border-0" aria-label="Close" (click)="cancelSetting()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body px-4">
    <form [formGroup]="localSettingFormGroup">
        <div class="form-group row">
            <label for="inputLocation" class="col-sm-3 col-form-label">Location</label>
            <div class="col-sm-9">
                <select formControlName="location" class="form-control" id="inputLocation" placeholder="Location">
                    <option *ngFor="let location of supportedLocations" value="{{ location.locationId }}">
                        {{ location.locationName }}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputLocation" class="col-sm-3 col-form-label">Language</label>
            <div class="col-sm-9">
                <select formControlName="language" class="form-control" id="inputLanguage" placeholder="Language">
                    <option *ngFor="let language of supportedLanguages" value="{{ language.languageId }}">
                        {{ language.languageName }}
                    </option>
                </select>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer border-top-0">
    <button type="button" class="btn btn-secondary" (click)="cancelSetting()">Close</button>
    <button type="button" class="btn btn-primary" (click)="saveSetting()">Save Settings</button>
</div>