/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "assets/style/custom-color.css";
@import "assets/style/dark-mode.css";
/* Over All Scroll */

body {
    overflow-y: overlay;
}

/* NavBar [small-nav] */

.small-nav a.nav-link {
    padding: .25rem .75rem !important;
}

/* Tooltip Adjustment @Override */

.bs-tooltip-top {
    top: -4px!important;
}

.bs-tooltip-bottom {
    top: 4px!important;
}

.bs-tooltip-left {
    left: -4px!important;
}

.bs-tooltip-right {
    left: 4px!important;
}

/* Tooltip Custom Color [tooltip-left-muted] */

.tooltip-left-muted .tooltip-inner {
    background-color: #212529!important;
}

.tooltip-left-muted .arrow::before {
    border-left-color: #212529!important;
}

/* Focus Outlie */

.no-focus-outline:focus {
    outline: 0!important;
    box-shadow: none!important;
}

/* Radio Button */

.form-check-input {
    margin-top: .4rem!important;
}